<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leap_app.leap">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".LeapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c3d3bcb91a086ffd33cd072f00c87633d01c808f" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9mrL8tO3tY29Qmd9BqAD8BQDVRItXPnU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- // Job Dispatcher Service -->
        <service
            android:name=".firebase.provider.FirebaseDBScheduler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!-- Twitter Configuration -->
        <activity android:name="com.firebase.ui.auth.twitter.TwitterPromptActivity" />

        <meta-data
            android:name="com.firebase.ui.TwitterKey"
            android:value="@string/twitter_app_key" />
        <meta-data
            android:name="com.firebase.ui.TwitterSecret"
            android:value="@string/twitter_app_secret" />

        <!-- Facebook Configuration -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LeapInfoActivity"
            android:label="@string/title_activity_leap_view"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leap_app.leap.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.Place" />
        <activity
            android:name=".ui.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leap_app.leap.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.LogoutActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leap_app.leap.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leap_app.leap.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.CirclesActivity"
            android:label="@string/circles"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leap_app.leap.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.addCircle"
            android:label="@string/circleName"
            android:parentActivityName=".ui.CirclesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leap_app.leap.ui.CirclesActivity" />
        </activity>
        <activity
            android:name=".ui.CircleDetails"
            android:label="@string/circleName"
            android:parentActivityName=".ui.CirclesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leap_app.leap.ui.CirclesActivity" />
        </activity>

        <provider
            android:name=".leap_provider.LeapProvider"
            android:authorities="com.leap_app.leap"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".utility.Leap_AppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/leap__app_widget_configure_info" />
        </receiver>

        <activity android:name=".ui.Leap_AppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>